<section class="hero">

    <div class="hero-content">

        <span class="hero-badge">
            Student Success Platform
        </span>

        <h1>
            Monitor, Understand and Improve Your Academic Performance
        </h1>

        <p>
            Student Performance Assistant helps you monitor your participation
            mark, analyse your academic profile and discover personalised
            improvement strategies based on your current assessment results.
        </p>

        <!-- <button class="hero-button">

            Get Started

            <i class="fa-solid fa-arrow-right"></i>

        </button>-->
        <a href="#welcome-options" class="hero-button">

            Get Started

            <i class="fa-solid fa-arrow-right"></i>

        </a>

    </div>

    <div class="hero-image">

        <i class="fa-solid fa-chart-line hero-icon"></i>

    </div>

</section>